.Input-holder{
    width: 100%;
}
.Input-Field{
    float: left;
    width: 65%;
}
.Submit{
    width: 30%;
    float:right;
}
.List{
    width: 100%;
    margin: 15px 0 15px 0;
}
.Previous{
    float: left;
    width: 100px;
}
.Next{
    float: right;
    width: 100px;
}
li{
    font-size: 15px;
}
.Fizz, .Wizz{
    color:blue;
}
.Buzz, .Wuzz{
color: green;
}