.submit{
    color:black;
    text-align: center;
    font-size: 15px;
    height: 25px;
}
.submit:disabled{
    color:black;
    text-align: center;
    font-size: 15px;
    height: 25px;
}
.Previous, .Next{
    color:black;
    text-align: center;
    font-size: 15px;
    height: 25px;
}
